pytest
allure-pytest
pytest-level
pytest-owner
pytest-timeout
pytest-faker
pytest-ini
pytest-level
pytest-check
pytest-rerunfailures
pytest-xdist
pymysql
pyyaml
openpyxl
toml
jsonpath
jsonschema
python-dotenv
selenium
Appium-Python-Client
webdriver_manager
yagmail